<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_2ff0b897bee444cfbb8668e2098b6d4b {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_2ff0b897bee444cfbb8668e2098b6d4b" ></div>
        
</body>
<script>    
    
            var map_2ff0b897bee444cfbb8668e2098b6d4b = L.map(
                "map_2ff0b897bee444cfbb8668e2098b6d4b",
                {
                    center: [0, 0],
                    crs: L.CRS.EPSG3857,
                    zoom: 1,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_d0027fe3a7874af184aea5b827ff690a = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_2ff0b897bee444cfbb8668e2098b6d4b);
        
    
            var feature_group_869fc05c28444a1c8ca5d517523d3fb9 = L.featureGroup(
                {}
            ).addTo(map_2ff0b897bee444cfbb8668e2098b6d4b);
        
    
            var marker_29f6926b9e41482ebe65ff8c7b435527 = L.marker(
                [42.3685658, -72.505714],
                {}
            ).addTo(feature_group_869fc05c28444a1c8ca5d517523d3fb9);
        
    
            var icon_73a75d1841b74b7e9ac84573718945b9 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_29f6926b9e41482ebe65ff8c7b435527.setIcon(icon_73a75d1841b74b7e9ac84573718945b9);
        
    
        var popup_c92e2164d3c646cf810ba18638b656f0 = L.popup({"maxWidth": "100%"});

        
            var html_df17140b23374430b6b804bbbfe77d97 = $(`<div id="html_df17140b23374430b6b804bbbfe77d97" style="width: 100.0%; height: 100.0%;">Ron Berger</div>`)[0];
            popup_c92e2164d3c646cf810ba18638b656f0.setContent(html_df17140b23374430b6b804bbbfe77d97);
        

        marker_29f6926b9e41482ebe65ff8c7b435527.bindPopup(popup_c92e2164d3c646cf810ba18638b656f0)
        ;

        
    
    
            var marker_7a8ef1b26bc648aa8ee896fbfd1171a5 = L.marker(
                [51.5073219, -0.1276474],
                {}
            ).addTo(feature_group_869fc05c28444a1c8ca5d517523d3fb9);
        
    
            var icon_4c7ac6a1c04c4af0bcc81114737c52c3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_7a8ef1b26bc648aa8ee896fbfd1171a5.setIcon(icon_4c7ac6a1c04c4af0bcc81114737c52c3);
        
    
        var popup_a13a3ad82dd84d3ba51c7eebbb0a3483 = L.popup({"maxWidth": "100%"});

        
            var html_b08160a0bd8c47f98c21bc95cd15d07e = $(`<div id="html_b08160a0bd8c47f98c21bc95cd15d07e" style="width: 100.0%; height: 100.0%;">Hayley Lewis 💙</div>`)[0];
            popup_a13a3ad82dd84d3ba51c7eebbb0a3483.setContent(html_b08160a0bd8c47f98c21bc95cd15d07e);
        

        marker_7a8ef1b26bc648aa8ee896fbfd1171a5.bindPopup(popup_a13a3ad82dd84d3ba51c7eebbb0a3483)
        ;

        
    
    
            var marker_8d5abd51b3e447bab97dfdd6d8c77a89 = L.marker(
                [40.7127281, -74.0060152],
                {}
            ).addTo(feature_group_869fc05c28444a1c8ca5d517523d3fb9);
        
    
            var icon_549a1a4a514f4dbd8ece9884881adc22 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_8d5abd51b3e447bab97dfdd6d8c77a89.setIcon(icon_549a1a4a514f4dbd8ece9884881adc22);
        
    
        var popup_96ad56d4e15f47e9a549159300509487 = L.popup({"maxWidth": "100%"});

        
            var html_7af6fc1723064c4ab16ceef1a3caa1a8 = $(`<div id="html_7af6fc1723064c4ab16ceef1a3caa1a8" style="width: 100.0%; height: 100.0%;">Emmy Rossum</div>`)[0];
            popup_96ad56d4e15f47e9a549159300509487.setContent(html_7af6fc1723064c4ab16ceef1a3caa1a8);
        

        marker_8d5abd51b3e447bab97dfdd6d8c77a89.bindPopup(popup_96ad56d4e15f47e9a549159300509487)
        ;

        
    
    
            var marker_507d4c235711478a957d3569d243ae09 = L.marker(
                [40.7127281, -74.0060152],
                {}
            ).addTo(feature_group_869fc05c28444a1c8ca5d517523d3fb9);
        
    
            var icon_ba841cbc184e4232a34c14e3cff38a3d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_507d4c235711478a957d3569d243ae09.setIcon(icon_ba841cbc184e4232a34c14e3cff38a3d);
        
    
        var popup_4e4895ab82a340458c4372df11cfb980 = L.popup({"maxWidth": "100%"});

        
            var html_10ad83dad5a74ca6955b9432bb5a79d0 = $(`<div id="html_10ad83dad5a74ca6955b9432bb5a79d0" style="width: 100.0%; height: 100.0%;">Penguin Random House 🐧🏠📚</div>`)[0];
            popup_4e4895ab82a340458c4372df11cfb980.setContent(html_10ad83dad5a74ca6955b9432bb5a79d0);
        

        marker_507d4c235711478a957d3569d243ae09.bindPopup(popup_4e4895ab82a340458c4372df11cfb980)
        ;

        
    
    
            var marker_acc483e01d6249489608443bf47a8d9a = L.marker(
                [48.8566969, 2.3514616],
                {}
            ).addTo(feature_group_869fc05c28444a1c8ca5d517523d3fb9);
        
    
            var icon_c0c4e080b80a42eba4f1d5dee846797d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_acc483e01d6249489608443bf47a8d9a.setIcon(icon_c0c4e080b80a42eba4f1d5dee846797d);
        
    
        var popup_782911e434aa4329bcb610bd72aa593c = L.popup({"maxWidth": "100%"});

        
            var html_947178e2a4d84c01bd542ca8df60e843 = $(`<div id="html_947178e2a4d84c01bd542ca8df60e843" style="width: 100.0%; height: 100.0%;">Rahaf Harfoush</div>`)[0];
            popup_782911e434aa4329bcb610bd72aa593c.setContent(html_947178e2a4d84c01bd542ca8df60e843);
        

        marker_acc483e01d6249489608443bf47a8d9a.bindPopup(popup_782911e434aa4329bcb610bd72aa593c)
        ;

        
    
    
            var marker_2cac00b0b8e54a3eadef104f2e556b53 = L.marker(
                [40.7127281, -74.0060152],
                {}
            ).addTo(feature_group_869fc05c28444a1c8ca5d517523d3fb9);
        
    
            var icon_9383b1ff31cc4197b190e7d8c2bb5d4d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_2cac00b0b8e54a3eadef104f2e556b53.setIcon(icon_9383b1ff31cc4197b190e7d8c2bb5d4d);
        
    
        var popup_ec3e2826152646e1a3564bd5ee13925e = L.popup({"maxWidth": "100%"});

        
            var html_232f8785d88c43b9a3e993fb5e87ed9d = $(`<div id="html_232f8785d88c43b9a3e993fb5e87ed9d" style="width: 100.0%; height: 100.0%;">Peter T. Coleman</div>`)[0];
            popup_ec3e2826152646e1a3564bd5ee13925e.setContent(html_232f8785d88c43b9a3e993fb5e87ed9d);
        

        marker_2cac00b0b8e54a3eadef104f2e556b53.bindPopup(popup_ec3e2826152646e1a3564bd5ee13925e)
        ;

        
    
    
            var marker_69fd3fef45374eecb761d38b7ea78169 = L.marker(
                [40.7154412, -73.991419],
                {}
            ).addTo(feature_group_869fc05c28444a1c8ca5d517523d3fb9);
        
    
            var icon_0a01fe8823104c0abf8a0ccc94f15ce3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_69fd3fef45374eecb761d38b7ea78169.setIcon(icon_0a01fe8823104c0abf8a0ccc94f15ce3);
        
    
        var popup_258ef25f33ba4bfda842e43efdca5b1b = L.popup({"maxWidth": "100%"});

        
            var html_2098bd14de274f489a5c1713ba89e899 = $(`<div id="html_2098bd14de274f489a5c1713ba89e899" style="width: 100.0%; height: 100.0%;">Becky Sauerbrunn</div>`)[0];
            popup_258ef25f33ba4bfda842e43efdca5b1b.setContent(html_2098bd14de274f489a5c1713ba89e899);
        

        marker_69fd3fef45374eecb761d38b7ea78169.bindPopup(popup_258ef25f33ba4bfda842e43efdca5b1b)
        ;

        
    
</script>